.cover
	h3 Open this site on your mobile device:
	h2#gameURL Error!
	h3 
		|The click <strong>JOIN</strong> and 
		br
		|enter the following Game ID:
	h1#spanNewGameCode.gameId Error!
	h3#playersWaiting