.cover
	.masthead
		.inner
			h1 Join Game
	
	.input-group
		span.input-group-addon Game ID
		input#inputGameId.form-control(type="number", placeholder="000")
	
	.button-group
		a#btnHost2.btn.btn-lg.btn-default Host 2
		a#btnMobile.btn.btn-lg.btn-default(href=mobile) Mobile
	#playerWaitingMessage
