.cover
	.masthead
		.inner
			h1 Controls
	hr
	a.btn.btn-lg.btn-default.gameControl(data-type="forward")
		span.glyphicon.glyphicon-chevron-up
	a.btn.btn-lg.btn-default.gameControl(data-type="stop")
		span.glyphicon.glyphicon-remove-circle
	a.btn.btn-lg.btn-default.gameControl(data-type="back")
		span.glyphicon.glyphicon-chevron-down
	hr
	a.btn.btn-lg.btn-default.gameControl(data-type="recalibrate")
		| RECALIBRATE

